body{
    background-color: deeppink;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    text-decoration: wavy;
    text-shadow: 5px 3px 2px red;
}
h1::first-letter{
    font-size: 150px;
    font-family: cursive;
}
p[id]{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bolder;
    text-indent: 50px;
    text-shadow: 5px 3px 2px palevioletred;
    }
h2[class]{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    text-decoration: underline;
    text-shadow: 6px 1px 2px green;
}
a:link{
    color:brown;
}
a:visited{
    color:darkgreen;
}
a:hover{
    color:black;
}
a:active{
    color:darkorange;
}
p1[id$="1"]{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    text-indent: 50px;
    text-shadow: 5px 3px 2px brown;
}
h3[class^='N']{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    text-decoration: underline;
    text-shadow: 6px 1px 2px green;
    font-size: 25px;
} 
h4[class]{
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
    text-shadow: 5px 3px 2px red;
}
p2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    text-indent: 50px;
    text-shadow: 5px 3px 2px brown; 
}
h5[class]{
    font-family:  'Times New Roman', Times, serif;
    font-style: oblique;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 6px 3px 2px navy;
    font-weight: bolder;
    font-size: 20px;
}
p3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    text-indent: 50px;
    text-shadow: 5px 3px 2px brown;   
}

